/* Remember classes are . and IDs are #. Direct tie in does not need either*/
.scores .timer {
    position:absolute;
    top: 10px;
    left: 10px;
}

/* #time */

.wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
}


/* #start-screen */

/* .start */

/* #questions

.hidden

#choices

.choices

#final-score

#initials

#submit

#highscores

#clear */

.button {
    display: inline-block;
    margin: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    background-color: aquamarine;
    border-radius: 5px;
    padding: 2px 10px;
    color: azure;
    border: 0;
}